@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


#navbar {
    display: flex;
    list-style: none;
    /* background: -webkit-linear-gradient(left, #3a9ca3, #33d6a8); */
    border-radius: 0px;
    background: #98A8F8;

}


/* dropdown css */
.dropdown {
    position: relative;


}

.dropdown-cont {
    position: absolute;
    border-radius: 10px;
    opacity: 0;
    padding: 10px;
    pointer-events: none;
    width: 300px;
    box-shadow: 20px;

}

.dropdowncontshow {
    position: absolute;
    display: flex;
    pointer-events: all;
    background-color: #BCCEF8;
    border-radius: 10px;
    opacity: 100;
    transition: ease-in-out 0.5s;
    z-index: 50;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 2em;



}



.subject-it {
    font-size: 20px;
    background: rgba(255, 255, 255, 0.6);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;



}

.subject-it:hover {
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;



    /* From https://css.glass */

    border-radius: 2px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);

}


.login-con {
    margin: auto;
    margin-right: 0;
    display: flex;

}



.login-con input {
    height: 30px;
    margin: 33px;
    border-radius: 10px;
    width: 170px;

}

.nav-it {
    margin: 20px;
    font-size: 2rem;
    cursor: pointer;
}


.nav-it-rt {
    margin: 20px;
    font-size: 2rem;
    border-radius: 50%;
    text-decoration: none;

}


/*+++++++++++++++++++++++++++++++++++ module ++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.module-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.module {
    text-align: center;
    width: 300px;
    height: 400px;
    border-radius: 1%;
    margin: 2%;
    background-color: #98A8F8;

}

.module:hover {
    text-align: center;
    width: 300px;
    height: 400px;
    margin: 2%;
    background-color: #98a8f845;
    transform: translatey(-10px);
    transition: 700ms;
}


/* .module_overflow {
    text-align: center;
    width: 300px;
    height: 400px;
    border-radius: 10%;
    margin: 2%;
    background-color: #155454;

} */

.heading {
    display: block;
    text-align: center;
    font-size: 2em;
    background-color: #98A8F8;
}

.heading:hover {
    display: block;
    text-align: center;
    font-size: 2em;

}

.module-it {

    display: flex;
    list-style-type: decimal;
    padding: 5%;
    font-size: larger;
    align-items: flex-start;
    flex-direction: column;

}

.chap {
    list-style-type: disc;
    text-decoration: none;
    text-align: left;
    margin: 3%;
    padding: 5px;
    cursor: pointer;
    background-color: #98A8F8;
    width: 95%;
}

.chap:hover {
    list-style-type: disc;
    text-decoration: none;
    background-color: #BCCEF8;

}


.bgimg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    overflow: hidden;
}